.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1.4rem;
  align-items: center;
  &__link:visited,
  &__link:link {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-display;
    padding: 1.5rem;
    transition: all 0.2sec;
    display: block;
  }
  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }
}
.copyright {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 6rem;
  color: #fff;
  width: 70%;
  margin-inline: auto;
}
